:root {
  --mainBlue: #2a2a72;
 
  --mainWhite: #f3f3f3;
  --mainDark:#232528;
  --mainYellow: #ffa400;

}
body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;

}
.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--mainYellow);
}
.btn-black{
   background: transparent;
   text-transform: capitalize;
   font-size:0.8 !important;
   color: var(--mainDark);
   border-radius: 0 !important;
   border:0.1rem var(--mainDark) !important;
}
.btn-black:hover {
background: var(--mainDark) !important;
color: var(--mainWhite) !important;

}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
}
.navbar {
  background-color:  "white"
}

  

.gallery {
  z-index: 2;
  margin-top: 20px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; 
  
}
  .gallery .pics {
    position: relative;
    z-index: 2;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
   z-index: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  
  @media only screen and (max-width: 800px) {
  .gallery {
    z-index: 2;
    margin-top: 20px;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  
  }
  
  @media only screen and (max-width: 1350px) {
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }
  }

  .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.banner {
  position:  absolute;
  width: 200px;
  left: 50%;
  top:50%;
  margin-top: -100px;
  margin-left: -100px;
  z-index: 1;
  justify-content: center;
  align-self: center;
  
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 3.2rem 0.4rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}


