:root {
  --mainBlue: #2a2a72;
 
  --mainWhite: #f3f3f3;
  --mainDark:#232528;
  --mainYellow: #ffa400;

}
body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;

}
.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--mainYellow);
}
.btn-black{
   background: transparent;
   text-transform: capitalize;
   font-size:0.8 !important;
   color: var(--mainDark);
   border-radius: 0 !important;
   border:0.1rem var(--mainDark) !important;
}
.btn-black:hover {
background: var(--mainDark) !important;
color: var(--mainWhite) !important;

}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
}
.navbar {
  background-color:  "white"
}





.gallery {
  z-index: 2;
  margin-top: 20px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; 
  
  
}
  .gallery .pics {
    position: relative;
    z-index: 2;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; 
 
  }
  .street_img_landing {
   width: 600px !important;
   height: 489px !important;
  }
  .snow_img_landing {
    width: 600px !important;
   height: 519px !important;
  }
  .shoes_img_landing {
    width: 600px !important;
   height: 388px !important;
  }
  
  .gallery .animation {
   z-index: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  
  @media only screen and (max-width: 800px) {
  .gallery {
    z-index: 2;
    margin-top: 20px;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .pics img{
    width: 1000px;
  }
  
}

  .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  
}

@media screen and (max-width: 1200px) {
  .street_img_landing {
    width: 600px !important;
    height: 489px !important;
   }
   .snow_img_landing {
     width: 600px !important;
    height: 479px !important;
   }
   .shoes_img_landing {
     width: 600px !important;
    height: 388px !important;
   }
}

@media screen and (max-width: 1000px) {
  .gallery {
    z-index: 2;
    margin-top: 20px;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .pics img{
    width: 1000px !important;
    height: auto !important;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  
}

.banner {
  position:  absolute;
  width: 200px;
  left: 50%;
  top:50%;
  margin-top: -100px;
  margin-left: -100px;
  z-index: 1;
  justify-content: center;
  align-self: center;
  
  z-index: 0;
  background: rgba(255, 245, 245, 0.6);
  color: var(--mainWhite);
  padding: 4rem 2rem 3rem 2rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  border: "white";
  border-radius: 10px;

}


.banner h1{
  font-size: 1.8rem;
  font-weight: solid bold 500;
  color: black;
}

.banner p {
  color: black;
}
.banner:hover {
  opacity: 0.5;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.fade-in.four {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.fade-in.five {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.fade-in.six {
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  animation-delay: 1.9s;
}

