:root {
  --mainBlue: #2a2a72;
 
  --mainWhite: #f3f3f3;
  --mainDark:#232528;
  --mainYellow: #ffa400;

}
body {
  font-family: 'Oswald', sans-serif !important;

  color: var(--mainDark) !important;
  background-color: whitesmoke !important;

}
.text-title {

  font-family: 'Impact, Charcoal, sans-serif';
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  justify-content: center;
  
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--mainYellow);
}
.btn-black{
   background: transparent;
   text-transform: capitalize;
   font-size:0.8 !important;
   color: var(--mainDark);
   border-radius: 0 !important;
   border:0.1rem var(--mainDark) !important;
}
.btn-black:hover {
background: var(--mainDark) !important;
color: var(--mainWhite) !important;

}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
}
.navbar {
  background-color:  "white";
}
.navbar span {
  color: white;
  font-size: 22px;
}

.vis {
  margin-left: 35px
}

.logo {
  margin: auto;
  top: 50%;
  left: 50%;
}
.drawer {
  display: none;
}




.gallery {
  
  z-index: 2;
  margin-top: 20px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; 
 
  
}
  .gallery .pics {
    position: relative;
    z-index: 2;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; 
  position: relative;
  padding-bottom: 100%;
  width: 100%;
  
 
  }
  
  .pics img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
  
 
  
  
  .gallery .animation {
   z-index: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  
  @media only screen and (max-width: 800px) {
  .gallery {
    z-index: 2;
    margin-top: 20px;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  .searching-1000px {
    display: none;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .navbar{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .pics img{
    border-radius: 40px;
    padding: 22px 20px;
    
    perspective: 1px;

  }
  .page-footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }
  
  
  
}

  .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  
}






/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .navbar{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .pics img{
    border-radius: 40px;
    padding: 22px 20px;
    
    perspective: 1px;

  }
  .page-footer {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }
  .vis {
    display: none;
   
  }
  .drawer {
    display: inline;
  }
  .logo {
    margin-bottom: 0px !important
  }
  .logo-landing {
    
    width: 60% !important;
  }
  .searching{
    display:inline-block !important;
  }
  .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: red;
    border-radius: 60px;
    padding: 8px;
    }
  
    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
   
    transition: width 0.4s linear;
    }
    ::placeholder {
      color: white transparent;
    }
  
    .searchbar:hover > .search_input{
 
    width:60px;
    caret-color:rgb(198, 1, 1);
    transition: width 0.4s linear;
    }
  
    .searchbar:hover > .search_icon{
    background: #e74c3c;
    color: white;
    }
  
    .search_icon{
    height: 23px;
    width: 23px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
    .searching-1000px {
      display: none;
    }
}

.banner {
  position:  absolute;
  width: 200px;
  left: 50%;
  top:50% ;
  margin-top: -100px;
  margin-left: -100px;
  z-index: 1;
  justify-content: center;
  align-self: center;
  
  z-index: 1;
  background: rgba(255, 245, 245, 0.6);
  color: var(--mainWhite);
  padding: 4rem 2rem 3rem 2rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  border: "white";
  border-radius: 10px;

}


.banner h1{
  font-size: 1.8rem;
  font-weight: solid bold 500;
  color: black;
}

.banner p {
  color: black;
}
.banner:hover {
  opacity: 0.5;
}
.ollaa {
  -webkit-box-shadow: 0px 10px 0px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 0px -2px rgba(0,0,0,0.75);
box-shadow: 0px 10px 0px -2px rgba(0,0,0,0.75);
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.fade-in.four {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.fade-in.five {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.fade-in.six {
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
.page-footer a{
  color: white !important;
}
.searching {
  display: none;
}

.searching-1000px {
  margin-right: 35px;
}
.form-inline {
  margin-left: 35px;
 
}
.form-control {
  border-radius: 50px;
}

.fas {
  color: white;
}


  
